figure[data-rehype-pretty-code-figure] {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  background-color: var(--card);
  border-radius: var(--radius);
  border: 1px solid hsl(var(--border));
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

figcaption[data-rehype-pretty-code-title],
div[data-rehype-pretty-code-title] {
  font-size: 0.875rem;
  border-bottom: 1px solid hsl(var(--border));
  padding-left: 0.25rem;
  color: hsl(var(--primary));
}

figcaption[data-rehype-pretty-code-caption],
div[data-rehype-pretty-code-caption] {
  font-size: 0.8rem;
  padding-left: 0.25rem;
  color: var(--muted-foreground);
}

figure[data-rehype-pretty-code-figure] pre {
  overflow: auto;
}

.line-highlighted {
  background-color: rgb(255 228 230 / 0.3);
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: transparent;
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: transparent;
}